@font-face {
    font-family: "MPLUSRounded1c-ExtraBold";
    src: local("MPLUSRounded1c-ExtraBold"), 
    url(/fonts/MPLUSRounded1c-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "ofont.ru_Cygre";
    src: local("ofont.ru_Cygre"), 
    url(/fonts/ofont.ru_Cygre.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "ofont.ru_Nunito";
    src: local("ofont.ru_Nunito"), 
    url(/fonts/ofont.ru_Nunito.ttf);
    font-weight: 100;
}

html, body {
    min-height: 100%;
    height: 1000px;
    top: 0px
}

body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: "ofont.ru_Cygre";
}

/* начало main */

.container {
    display: flex;
    min-height: 100%;
    width: 100%;
    flex-direction: row;
    padding-top: 50px;
    justify-content: flex-start;
    align-content: center;
    background-color: #EBEBEB;
}

/* настройки */
.settings {
    display: flex;
    position: sticky;
    align-self: start;
    top: 50px;
    width: 350px;
    height: 100%;
    max-width: 350px;
}

.settings > div {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    margin: 15px;
    border-radius: 10px;
    background-color: #EBEBEB;
    box-shadow: rgb(165, 165, 165) 0px 5px 20px;
}

.settings > div > span {
    align-self: center;
    padding-top: 10px;
}

.settings > div > div {
    justify-self: center;
    justify-content: space-evenly;
}

#set_item {
    border: #9e9e9e solid 2px;
    border-radius: 3px;
    height: 20px;
    max-width: 300px;
    width: 100%;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

p:has(> #set_item) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;
}

.settings > div > div > p {
    margin: 15px 5px;
}

/* продукты */

.products {
    justify-self: center;
    display: flex;
    flex-direction: row;
    max-width: 1120px;
    height: 100%;
}

/* корзина */

.shopper {
    display: flex;
    position: sticky;
    top: 50px;
    height: 100%;
    width: 350px;
    max-width: 350px;
    min-height: 500px;
}

.shopper > div {
    display: flex;
    width: 100%;
    margin: 15px;
    border-radius: 10px;
    justify-content: center;
    background-color: #EBEBEB;
    box-shadow: rgb(165, 165, 165) 0px 5px 20px;
}

.shopper > div > span {
    align-self: center;
    padding-top: 10px;
}

.shopper > div {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*product*/

.products {
    display: flex;
    flex-wrap: wrap;;
}

.product {
    border-radius: 10px;
    margin: 15px;
    background-color: #EBEBEB;
    max-width: 250px;
    width: 250px;
    box-shadow: rgb(165, 165, 165) 0px 5px 20px;
}

.backimg {
    position: absolute;
    max-width: 250px;
    width: 250px;
    height: 208px !important;
    block-size: auto;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

#prod_pic {
    position: absolute;
    max-width: 184px;
    width: 184px;
    margin: 12px 33px;
}

.desc {
    margin-top: 184px;
}

#desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-family: "ofont.ru_Nunito";
}

#en_name {
    margin-top: 10px;
    border-bottom: 2px solid black;
}

#price {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: none;
    outline: none;
}

#counter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;

    font-size: 22px;
    font-family: "ofont.ru_Cygre";
}

#counter>div>button {
    background-color: #B9B9B9;
}

#counter>div>button:active {
    background-color: #8f8f8f;
}

#counter>div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 108px;
    height: 39px;
    background-color: #B9B9B9;
    border-radius: 8px;
    margin-right: 5px;
}

#plus, #minus, #count{
    width: 40px;
    height: 38px;
    text-align: center;
}

#count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28;
    height: 38;
    font-size: 22px;
    font-family: "ofont.ru_Cygre";
}

#plus {
    border-radius: 10px 0px 0px 10px;
    font-size: 22px;
    font-family: "ofont.ru_Nunito";
}

#minus {
    border-radius: 0px 10px 10px 0px;
    font-size: 22px;
    font-family: "ofont.ru_Nunito";
}

#add {
    margin-left: 5px;
    background-color: #1BC200;
    border-radius: 8px;
    text-align: center;
    width: 109px;
    height: 38px;
    font-size: 16px;
    font-family: "ofont.ru_Nunito";
}

#add:active {
    background-color: #159601;
}

.hide, .searchhide {
    display: none;
}

#in-shopper {
    position: none;
    z-index: 10;
    font-size: 16px;
    background-color: #1BC200;
    border: #1BC200 solid 2px;
    border-radius: 8px;
    top: 2px;
    left: 6px;
}

@media only screen and (min-width: 320px) {
    .products {
        justify-content: center;
    }

    .shopper {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .settings {
        margin-top: 0;
        position: static;
        align-self: center;
        max-width: 840px;
        width: 100%;
    }

    .settings > div {
        flex-direction: column;
    }
}

@media only screen and (min-width: 700px) {
    .settings > div > div {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width: 1060px) {
    .products {
        max-width: 560px;
        justify-content: none;
    }

    .container {
        flex-direction: row;
        justify-content: space-between;
    }

    .shopper {
        display: flex;
        max-width: 250px;
    }

    .settings {
        display: flex;
        position: sticky;
        align-self: start;
        top: 50px;
        width: 350px;
        height: 100%;
        max-width: 350px;
        align-self: none;
    }

    .settings > div > div {
        flex-direction: column;
    }

    .settings > div > div > p {
        margin: 10px;
    }
}

@media only screen and (min-width: 1160px) {
    .products {
        max-width: 560px;
    }

    .settings, .shopper {
        max-width: 350px;
    }
}

@media only screen and (min-width: 1540px) {
    .products {
        max-width: 840px;
    }

    .settings, .shopper {
        max-width: 350px;
    }
}

@media only screen and (min-width: 1820px) {
    .products {
        max-width: 1120px;
    }

    .settings, .shopper {
        max-width: 350px;
    }
}