@font-face {
    font-family: "MPLUSRounded1c-ExtraBold";
    src: local("MPLUSRounded1c-ExtraBold"), 
    url(/fonts/MPLUSRounded1c-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "ofont.ru_Cygre";
    src: local("ofont.ru_Cygre"), 
    url(/fonts/ofont.ru_Cygre.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "ofont.ru_Nunito";
    src: local("ofont.ru_Nunito"), 
    url(/fonts/ofont.ru_Nunito.ttf);
    font-weight: 100;
}

html, body {
    min-height: 100%;
    height: 1000px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-family: "ofont.ru_Cygre";
}

/*хидер начало*/

header > div {
    display: flex;
    justify-content: space-between;
    border: 8px;
}

header {
    position: fixed;
    width: 100%;
    z-index: 3;
    background: linear-gradient(135deg, #7700ff, #b908ff);
}

header div {
    display: flex;
    height: 50px;
}

header a {
    text-decoration: none;
    background: linear-gradient(175deg, white 33%, #9c85ff);
    color: #0B2349;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header>div>a {
    display: flex;
    margin-left: 140px;
}

header>div>a>img {
    align-self: center;
}

header>div>div>a {
    padding: 14px 20px;
    font-family: "ofont.ru_Cygre";
}

header>div>div>a:hover {
    border-bottom: 3px solid #d4d4d4;
}

.header-container {
    margin-right: 120px;
}

.menu-div {
    height: 50px;
    width: 35px;
    align-self: center;
    margin-right: 20px;
    position: relative;
    display: flex;
}

.menu-div img {
    align-self: center;
    height: 35px;
    width: 35px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: -20px;
    margin-top: 50px;
    background-color: #c0c0c0;
    min-width: 200px;
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    width: 100%;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.dropdown-menu a:hover {background-color: #ddd;}

.menu-div:hover .dropdown-menu {display: block;}

/* начало main */

.container {
    display: flex;
    min-height: 100%;
    width: 100%;
    flex-direction: row;
    padding-top: 50px;
    justify-content: space-between;
    background-color: #EBEBEB;
}

/* настройки */
.settings {
    display: flex;
    position: sticky;
    align-self: start;
    top: 50px;
    width: 350px;
    height: 100%;
    max-width: 350px;
}

.settings > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px;
    border-radius: 10px;
    background-color: #EBEBEB;
    box-shadow: rgb(165, 165, 165) 0px 5px 20px;
}

.settings > div > span {
    align-self: center;
    padding-top: 10px;
}

.settings > div > div {
    justify-self: flex-start;
}

#set_item {
    border: #9e9e9e solid 2px;
    border-radius: 3px;
    width: calc(100% - 8px);
}

.settings p {
    margin: 15px 5px;
}

/* продукты */

.products {
    justify-self: center;
    display: flex;
    flex-direction: row;
    max-width: 1120px;
    height: 100%;
}

/* корзина */

.shopper {
    display: flex;
    position: sticky;
    top: 50px;
    height: 100%;
    width: 350px;
    max-width: 350px;
    min-height: 500px;
}

.shopper > div {
    display: flex;
    width: 100%;
    margin: 15px;
    border-radius: 10px;
    justify-content: center;
    background-color: #EBEBEB;
    box-shadow: rgb(165, 165, 165) 0px 5px 20px;
}

.shopper > div > span {
    padding-top: 10px;
}

/*product*/

.products {
    display: flex;
    flex-wrap: wrap;;
}

.product {
    border-radius: 10px;
    margin: 15px;
    background-color: #EBEBEB;
    max-width: 250px;
    width: 250px;
    box-shadow: rgb(165, 165, 165) 0px 5px 20px;
}

.backimg {
    position: absolute;
    max-width: 250px;
    width: 250px;
    height: 208px !important;
    block-size: auto;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

#prod_pic {
    position: absolute;
    max-width: 184px;
    width: 184px;
    margin: 12px 33px;
}

.desc {
    margin-top: 208px;
}

#desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    font-family: "ofont.ru_Nunito";
}

#en_name {
    margin-top: 10px;
    border-bottom: 2px solid black;
}

#price {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    border: none;
    outline: none;
}

#counter {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;

    font-size: 22px;
    font-family: "ofont.ru_Cygre";
}

#counter>div>button {
    background-color: #B9B9B9;
}

#counter>div>button:active {
    background-color: #8f8f8f;
}

#counter>div {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 108px;
    height: 39px;
    background-color: #B9B9B9;
    border-radius: 8px;
    margin-right: 5px;
}

#plus, #minus, #count{
    width: 40px;
    height: 38px;
    text-align: center;
}

#count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28;
    height: 38;
    font-size: 22px;
    font-family: "ofont.ru_Cygre";
}

#plus {
    border-radius: 10px 0px 0px 10px;
    font-size: 22px;
    font-family: "ofont.ru_Nunito";
}

#minus {
    border-radius: 0px 10px 10px 0px;
    font-size: 22px;
    font-family: "ofont.ru_Nunito";
}

#add {
    margin-left: 5px;
    background-color: #1BC200;
    border-radius: 8px;
    text-align: center;
    width: 109px;
    height: 38px;
    font-size: 16px;
    font-family: "ofont.ru_Nunito";
}

#add:active {
    background-color: #159601;
}

.hide, .searchhide {
    display: none;
}

@media only screen and (min-width: 320px) {
    header > div > a {
        margin-left: 20px;
        align-self: center;
    }

    .header-container {
        margin-right: 50px;
        display: none;
    }

    .products {
        justify-content: center;
    }

    .settings, .shopper {
        display: none;
    }
}

@media only screen and (min-width: 630px) {
    header > div > a {
        display: flex;
        align-self: normal;
    }

    .menu-div {
        display: none;
    }

    .header-container {
        display: flex;
    }
}

@media only screen and (min-width: 810px) {
    header > div > a {
        margin-left: 140px;
    }

    .header-container {
        margin-right: 140px;
        display: flex;
    }
}

@media only screen and (min-width: 1060px) {
    .products {
        max-width: 560px;
        justify-content: none;
    }

    .settings, .shopper {
        display: flex;
        max-width: 250px;
    }
}

@media only screen and (min-width: 1160px) {
    .products {
        max-width: 560px;
    }

    .settings, .shopper {
        max-width: 350px;
    }
}

@media only screen and (min-width: 1540px) {
    .products {
        max-width: 840px;
    }

    .settings, .shopper {
        max-width: 350px;
    }
}

@media only screen and (min-width: 1820px) {
    .products {
        max-width: 1120px;
    }

    .settings, .shopper {
        max-width: 350px;
    }
}